* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	width: 100vw;
}

@font-face {
	font-family: 'PF Regal Display Pro';
	src: url('/css/font/PFRegalDisplayPro-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PF Regal Display Pro';
	src: url('/css/font/PFRegalDisplayPro-Medium.woff') format('woff');
}

.main-header {
	height: 100vh;
	width: 100vw;
	background-image: url('../img/hero-1.png');
	background-size: cover;
	color: #fff; /* Color del texto en el encabezado */
	text-align: center;
	position: relative;
}

.main-header::before {
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	/*background: linear-gradient(270deg, #000 0%, #7E7E7E 100%);
    mix-blend-mode: overlay;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main-header .navigation-menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 10vh;
	padding: 4rem;
	border-bottom-color: white;
	border-bottom-style: solid;
}

.main-header .navigation-menu .navigation-logo {
	z-index: 2;
	display: flex;
	align-items: center;
}

.main-header .navigation-menu .navigation-logo img {
	width: 90%;
}

.main-header .navigation-menu .menu-links {
	display: flex;
	z-index: 2;
	width: 40%;
	justify-content: space-between;
}

.main-header .navigation-menu .menu-links .auth {
	width: 40%;
	display: flex;
	justify-content: space-evenly;
}

.main-header .navigation-menu .menu-links .auth a {
	width: 50%;
	display: flex;
	align-items: center;
	font-size: 12px;
}

.main-header .navigation-menu .menu-links .auth a:first-child {
	color: #7e7e7e;
}

.main-header .navigation-menu .menu-links .auth .auth-separator {
	border-left: #fff;
	border-left-style: solid;
	border-width: 1px;
	height: 20px;
	position: relative;
	bottom: 10px;
	right: 30px;
}

.lang-separator {
	border-left: #fff;
	border-left-style: solid;
	border-width: 1px;
	height: 40px;
	position: relative;
	bottom: 20px;
	right: 30px;
}

.main-header .navigation-menu .menu-links .lang {
	width: 40%;
	display: flex;
	justify-content: space-evenly;
}

.main-header .navigation-menu .menu-links .lang a {
	width: 50%;
	display: flex;
	align-items: center;
	font-size: 12px;
}

.main-header .navigation-menu .menu-links .lang a:first-child {
	color: #7e7e7e;
}

.hero {
	width: 100%;
	position: relative;
	z-index: 1;
	display: flex;
}

.hero .social-links {
	width: 2%;
	position: relative;
	height: 100%;
	margin-top: 20%;
	margin-left: 1.5rem;
}

.hero .social-links p {
	transform: rotate(90deg);
}

.hero .social-links img {
	margin: 5px;
}
.hero .social-links .social-line {
	margin-top: 37px;
}

.hero .title {
	width: 49%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
	top: 35rem;
}

.hero .title {
	display: flex;
	flex-direction: column;
	font-family: 'PF Regal Display Pro', sans-serif;
}

.hero .title #first-line {
	display: flex;
	font-family: 'PF Regal Display Pro', sans-serif;
	font-weight: 100;
	font-size: 20px;
}

.hero .title h1 {
	display: block;
	font-family: 'PF Regal Display Pro', sans-serif;
	font-size: 50px;
	margin-left: 1.5rem;
}

.hero .search-bar {
	width: 49%;
}

.custom-button {
	background: transparent;
	border: 1px solid #fff;
	padding: 10px 50px;
	position: relative;
	border-radius: 30px;
	color: white;
	margin-top: 2rem;
	margin-left: 1.5rem;
	height: 50px;
	width: 70%;
}

.arrow-icon {
	position: absolute;
	left: 10px;
	padding-left: 1.5rem;
}

.custom-button:hover {
	background: #000;
	color: #fff;
	transition: background 0.3s ease, color 0.3s ease;
}

.arrow-icon {
	height: 30%;
}

.input-wrapper {
	margin-top: 5rem;
	margin-left: 30rem;
	position: relative;
	width: 100%;
}

.input {
	box-sizing: border-box;
	color: #191919;
	padding: 15px 15px 15px 35px;
	width: 64%;
	background-color: transparent;
	border-style: solid;
	border-color: white;
	border-radius: 50px;
	height: 50px;
	border-width: 1px;
}

input::placeholder {
	color: white;
}

.input-icon {
	color: #191919;
	position: absolute;
	right: 170px;
	top: 25px;
	transform: translateY(-50%);
}

.hamburger-wrapper {
	position: relative;
	padding-right: 30px;
}

.hamburger-wrapper img {
	position: absolute;
	top: -14px;
}

main .gallery-sale-container {
	height: 100vh;
	width: 100vw;
	display: flex;
}

main .gallery-sale-container .gallery-sale {
	width: 50%;
}

main .gallery-sale-container .gallery-sale img {
	height: 50vh;
	margin-top: 10rem;
}

main .gallery-sale-container .gallery-sale .container-left {
	position: relative;
	display: inline-block;
}

main .gallery-sale-container .gallery-sale .overlay-text-left {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

main .gallery-sale-container .gallery-sale .container-right {
	position: relative;
	display: inline-block;
}

main .gallery-sale-container .gallery-sale .overlay-text-right {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

main .gallery-sale-container .gallery-sale-title {
	width: 50%;
	margin-top: 10rem;
	display: flex;
	justify-content: flex-start;
	margin-right: 80px;
	text-align: right;
	flex-direction: column;
	font-family: 'PF Regal Display Pro';
}

main .gallery-sale-container .gallery-sale-title p {
	font-size: 25px;
	color: #df991b;
}

main .gallery-sale-container .gallery-sale-title h2 {
	font-size: 50px;
}

main .gallery-sale-container .gallery-sale-title .sale-buttons {
	margin-top: 25rem;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

main
	.gallery-sale-container
	.gallery-sale-title
	.sale-buttons
	.sale-buttons-wrapper {
	width: 80%;
}

main
	.gallery-sale-container
	.gallery-sale-title
	.sale-buttons
	.sale-buttons-wrapper
	.button-previous {
	background-color: transparent;
	border: none;
	color: #b4b7b7;
	padding: 0px 40px;
	display: inline-flex;
	align-items: center;
	height: 50px;
}
main
	.gallery-sale-container
	.gallery-sale-title
	.sale-buttons
	.sale-buttons-wrapper
	.button-previous
	img {
	height: 2rem;
	margin-right: 1.5rem;
}

main
	.gallery-sale-container
	.gallery-sale-title
	.sale-buttons
	.sale-buttons-wrapper
	.button-properties {
	background-color: transparent;
	height: 50px;
	width: 200px;
	border-radius: 30px;
}

main
	.gallery-sale-container
	.gallery-sale-title
	.sale-buttons
	.sale-buttons-wrapper
	.button-next {
	background-color: transparent;
	border: none;
	color: #df991b;
	padding: 0px 20px 0px 40px;
	display: inline-flex;
	align-items: center;
	height: 50px;
}

main
	.gallery-sale-container
	.gallery-sale-title
	.sale-buttons
	.sale-buttons-wrapper
	.button-next
	img {
	height: 2rem;
	margin-left: 1.5rem;
}
/*************************************************************************/
main .gallery-rent-container {
	height: 100vh;
	width: 100vw;
	display: flex;
}

main .gallery-rent-container .gallery-rent {
	width: 50%;
}

main .gallery-rent-container .gallery-rent img {
	height: 50vh;
	margin-top: 10rem;
}

main .gallery-rent-container .gallery-rent .container-left {
	position: relative;
	display: inline-block;
	background-color: yellow;
}

main .gallery-rent-container .gallery-rent .container-left .overlay-text-left {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

main .gallery-rent-container .gallery-rent .container-right {
	position: relative;
	display: inline-block;
	background-color: yellow;
}

main
	.gallery-rent-container
	.gallery-rent
	.container-right
	.overlay-text-right {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

main .gallery-rent-container .gallery-rent-title {
	width: 50%;
	margin-top: 10rem;
	display: flex;
	justify-content: flex-start;
	margin-left: 80px;
	text-align: left;
	flex-direction: column;
	font-family: 'PF Regal Display Pro';
}

main .gallery-rent-container .gallery-rent-title .title {
	font-size: 25px;
	color: #df991b;
}

main .gallery-rent-container .gallery-rent-title h2 {
	font-size: 50px;
}

main .gallery-rent-container .gallery-rent-title .description {
	font-size: 20px;
	width: 75%;
	margin-top: 3.5rem;
}

main .gallery-rent-container .gallery-rent-title .rent-buttons {
	margin-top: 10rem;
}

/*rent buttons*/

main .gallery-rentcontainer .gallery-rent-title .rent-buttons {
	margin-top: 25rem;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

main
	.gallery-rent-container
	.gallery-rent-title
	.rent-buttons
	.rent-buttons-wrapper {
	width: 80%;
}

main
	.gallery-rent-container
	.gallery-rent-title
	.rent-buttons
	.rent-buttons-wrapper
	.button-previous {
	background-color: transparent;
	border: none;
	color: #b4b7b7;
	padding: 0px 40px 0px 0px;
	display: inline-flex;
	align-items: center;
	height: 50px;
}
main
	.gallery-rent-container
	.gallery-rent-title
	.rent-buttons
	.rent-buttons-wrapper
	.button-previous
	img {
	height: 2rem;
	margin-right: 1.5rem;
}

main
	.gallery-rent-container
	.gallery-rent-title
	.rent-buttons
	.rent-buttons-wrapper
	.button-properties {
	background-color: transparent;
	height: 50px;
	width: 200px;
	border-radius: 30px;
}

main
	.gallery-rent-container
	.gallery-rent-title
	.rent-buttons
	.rent-buttons-wrapper
	.button-next {
	background-color: transparent;
	border: none;
	color: #df991b;
	padding: 0px 20px 0px 40px;
	display: inline-flex;
	align-items: center;
	height: 50px;
}

main
	.gallery-rent-container
	.gallery-rent-title
	.rent-buttons
	.rent-buttons-wrapper
	.button-next
	img {
	height: 2rem;
	margin-left: 1.5rem;
}

.luxury-properties-container {
	width: 100vw;
	height: auto;
}

.luxury-properties-container .subtitle {
	color: #df991b;
	text-align: center;
	font-family: 'PF Regal Display Pro';
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.luxury-properties-container .title {
	color: #000;
	text-align: center;
	font-family: 'PF Regal Display Pro';
	font-size: 70px;
	font-style: normal;
	font-weight: 500;
	line-height: 90px;
}

.properties-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	margin-top: 3rem;
}

.properties-list div img {
	margin-right: 1rem;
}

.properties-list div p {
	color: #464547;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 15px;
	margin-top: 2rem;
}

.properties-list div h3 {
	color: #000;
	font-family: PF Regal Display Pro;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 45px;
	margin-bottom: 2.5rem;
}

main .services {
	height: 100vh;
	width: 100vw;
	display: flex;
	margin-top: 5rem;
}

main .services .gallery-services {
	position: relative;
	width: 85%;
	overflow: hidden;
}

main .services .gallery-services .gray-rectangle {
	position: absolute;
	left: -50px;
	z-index: 1;
	height: 63rem;
	width: 50%;
	margin-left: 18rem;
}

main .services .gallery-services .hall {
	position: relative;
	z-index: 2;
	width: 65%;
	left: 30%;
	margin-top: 6.5rem;
}

main .services .gallery-services-title .services-title {
	width: auto;
}

main .services .gallery-services-title .services-title img {
	margin-top: 6rem;
}

main .services .gallery-services-title .services-title .title {
	font-size: 25px;
	color: #df991b;
	margin-top: 2rem;
}

main .services .gallery-services-title .services-title h2 {
	font-size: 50px;
	width: 50%;
}

main .services .gallery-services-title .services-title .description {
	font-size: 20px;
	width: 75%;
	margin-top: 3.5rem;
}

/*buttonsssssss*/
main .services .gallery-services-title .services-buttons {
	margin-top: 15rem;
	width: 80%;
	display: flex;
	justify-content: flex-end;
}

main
	.services
	.gallery-services-title
	.services-buttons
	.services-buttons-wrapper {
	width: 80%;
}

main
	.services
	.gallery-services-title
	.services-buttons
	.services-buttons-wrapper
	.button-previous {
	background-color: transparent;
	border: none;
	color: #b4b7b7;
	padding: 0px 40px;
	display: inline-flex;
	align-items: center;
	height: 50px;
}

main
	.services
	.gallery-services-title
	.services-buttons
	.services-buttons-wrapper
	.button-previous
	img {
	height: 2rem;
	margin-right: 1.5rem;
}

main
	.services
	.gallery-services-title
	.services-buttons
	.services-buttons-wrapper
	.button-properties {
	background-color: transparent;
	height: 50px;
	width: 200px;
	border-radius: 30px;
}

main
	.services
	.gallery-services-title
	.services-buttons
	.services-buttons-wrapper
	.button-next {
	background-color: transparent;
	border: none;
	color: #df991b;
	padding: 0px 20px 0px 40px;
	display: inline-flex;
	align-items: center;
	height: 50px;
}

main
	.services
	.gallery-services-title
	.services-buttons
	.services-buttons-wrapper
	.button-next
	img {
	height: 2rem;
	margin-left: 1.5rem;
}
